<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <!--todo create new menu item for your backend application-->
    <entries>
        <entry>
            <name>SwagAdvDevBundle3</name>
            <label lang="de">Bundleuebersicht</label>
            <label lang="en">Bundle overview</label>
            <controller>SwagBundle</controller>
            <action>Index</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">Marketing</parent>
        </entry>
    </entries>
</menu>
